.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.title {
  font-size: 21px;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
  font-family: Neolost Personal Use;
  @media (min-width: 768px) {
    font-size: 32px;
  }
}

.list {
}
.block {
  display: flex;
  margin-bottom: 20px;
  .time {
    flex: 1;
    font-size: 18px;
    font-weight: 600;
    font-family: New Rome Trial;
    text-align: center;
  }
  .infoBlock {
    flex: 2;
  }
  .infoTitle {
    font-size: 18px;
    font-weight: 600;
    font-family: New Rome Trial;
    margin-bottom: 5px;
  }
  span {
    font-size: 13px;
    font-family: New Rome Trial;
  }
  @media (min-width: 768px) {
    .time {
      font-size: 28px;
    }
    .infoTitle {
      font-size: 28px;
    }
    span {
      font-size: 17px;
      font-family: New Rome Trial;
    }
  }
}
