.timer {
  display: flex;
  flex-direction: column;
  font-family: New Rome Trial;
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 40px;
  .title {
  }
  .day {
    text-align: end;
    span {
      font-size: 28px;
    }
  }
  @media (min-width: 768px) {
    .title {
      text-align: center;
      font-size: 32px;
    }
    .day {
      text-align: center;
      font-size: 32px;
      span {
        font-size: 48px;
      }
    }
  }
}

.timeContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

.timeBlock {
  width: 100%;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: 0 5px;
  padding: 5px;
  font-family: New Rome Trial;
  &:hover {
    transform: translateY(-5px);
  }
  span {
    display: block;
    font-size: 28px;
    font-weight: 700;
    &:nth-child(2) {
      font-size: 12px;
    }
  }
  @media (min-width: 768px) {
    border-radius: 8px;
    margin: 0 10px;
    padding: 10px;
    span {
      font-size: 32px;
      font-weight: 700;
      &:nth-child(2) {
        font-size: 15px;
      }
    }
  }
}
