.header {
  position: relative;
  margin-bottom: 40px;
}

.imgContainer {
  width: 270px;
  height: 270px;
  opacity: 0.7;
  & > img {
    border: 1px solid #c9dfe9;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.title {
  font-size: 32px;
  margin-bottom: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Annabelle;
  span {
    // line-height: 60px;
    font-family: Annabelle;
  }
}

.and {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
  font-size: 100px;
  font-family: Annabelle;
}
