.invite {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 486px;
}

.title {
  font-size: 28px;
  font-family: Annabelle;
  margin-bottom: 20px;
  @media (min-width: 768px) {
    font-size: 32px;
  }
}

.inviteText {
  font-family: Annabelle;
  font-size: 21px;
  text-align: center;
  margin-bottom: 20px;
  @media (min-width: 768px) {
    font-size: 25px;
  }
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  border-radius: 8px;
  overflow: hidden;

  .imgContainer {
    // height: 320px;
    // border-radius: 8px;
    // overflow: hidden;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  @media (min-width: 768px) {
    height: 520px;
  }
}
