html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: system-ui;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: center;
}

.flex.fill {
  height: 100%;
}

.flex.center {
  justify-content: center;
}

@font-face {
  font-family: Pershotravneva55;
  src: url("../fonts/pershotravneva55-regular.ttf");
}

@font-face {
  font-family: Trial;
  src: url("../fonts/TransformaScript_Trial-Regular.ttf");
}

@font-face {
  font-family: Ariston;
  src: url("../fonts/ariston_normal.ttf");
}
